<!DOCTYPE html>
<html lang="mr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
    <meta name="google-site-verification" content="4NjwjO6RAmI5YnVc7UZzTLMZt8Z01LDIbc1A226pW-Q" />
    <link rel="manifest" href="{{ '/manifest.json' | relative_url }}">
    <meta name="theme-color" content="#000000">
</head>
<body>

    {{ content }}

    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/sw.js');
            });
        }
    </script>
    <footer style="text-align: center; margin-top: 50px; font-size: 0.9em;">
        <p> 🌼 || श्रीसीतारामचंद्रार्पणमस्तु || 🌼 </p>
        
</body>
</html>